.card {
    width: auto !important;
    margin-left: 10%;
    margin-top: 10%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#PlaceOrderBtn {
    text-align: right;
}

#section2 {
    margin-top: 7%;
}